# Python files (Agar aap Python use kar rahe hain)
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# Environment variables (SECURITY: Inhe kabhi upload mat karen)
.env
.flaskenv

# OS related files
.DS_Store
Thumbs.db
desktop.ini

# Logs and databases
*.log
*.sqlite3

# IDEs (VS Code ya PyCharm ki files)
.vscode/
.idea/